body { 
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
    margin: 40px;
    padding: 0;
    line-height: 1.6;
}


h1{
    color: black 
    font-family:sans-serif ;
    text-align: center;
    font-size: 70px
    
}

.index ol {
    font-size: 30px;

}

.index h2{
    text-align: center;
    font-size: 40px;
}

.index p{
    color: gray;
    text-align: center;
    font-size: 30px ;

}
ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.index h3{
    font-size: 50px;
}

p {
    margin: 10px 0;
}


